<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
    <meta charset="UTF-8"/>
    <title>AJAX posts</title>
</head>

<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container-fluid">
    <div id="posts"></div>
</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="/js/posts.js"></script>

</body>
</html>